.main-container{
  text-align: center;
}
.text-align-center{
  text-align: center;
}
.minus{
  color: red;
}
.plus{
  color: green;
}
.income-expenses{
  display: flex;
  justify-content: space-between;
}
.transactionList{
  list-style-type: none;
}
.transItem{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 5px;
  border-bottom:1px solid #fff;
  padding: 0px 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.form-input{
  width: 100%;
  padding: 5px 2px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 3px;
}

.form-btn{
  margin-top: 5px;
  width: 100%;
  padding: 5px 2px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #d6e4ff;
}

.bg-color{
  background-image: linear-gradient(#1d39c4,#85a5ff);
  
}