.main-container{
  text-align: center;
}
.text-align-center{
  text-align: center;
}
.minus{
  color: red;
}
.plus{
  color: green;
}
.income-expenses{
  display: flex;
  justify-content: space-around;
}